<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}">
    <script th:src="@{/scripts/movies.js}" defer></script>
</head>
<body>
<div th:insert="~{shared/navbar :: navbar}"></div>
<div class="row m-auto pt-3 pb-3 bg-dark">
    <div class="dropdown col-sm-auto">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <span th:if="${access == 0}">Dostepne</span>
            <span th:if="${access == 1}">Usunięte</span>
            <span th:if="${access == 2}">Wszystkie</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" th:href="@{/workerzone/movies?access=0}">Dostepne</a>
            <a class="dropdown-item" th:href="@{/workerzone/movies?access=1}">Usunięte</a>
            <a class="dropdown-item" th:href="@{/workerzone/movies?access=2}">Wszystkie</a>
        </div>
    </div>
    <form class="col-sm-10" th:action="@{/workerzone/movies}"  method="GET">
        <div class="input-group">
            <input type="hidden" name="access" th:value="${access}">
            <input type="text" class="form-control" placeholder="Wyszukaj" aria-label="Recipient's username"
                   aria-describedby="basic-addon2" th:value="${searchValue}" name="search">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary text-white" type="submit">Wyszukaj</button>
            </div>
        </div>
    </form>
    <button type="button" data-toggle="modal" data-target=".bd-example-modal-lg" class="btn btn-success col-sm-auto m-auto">Dodaj</button>
</div>
<table class="table">
    <thead class="thead-dark">
    <tr class="text-center row m-auto">
        <th class="col-sm">#</th>
        <th class="col-sm">Nazwa</th>
        <th class="col-sm">Reżyser</th>
        <th class="col-sm">Rok</th>
        <th class="col-sm"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie : ${movies}" class="text-center row text-white m-auto">
        <td class="col-sm" th:text="${movie.getUuid()}"></td>
        <td class="col-sm" th:text="${movie.getTitle()}"></td>
        <td class="col-sm" th:text="${movie.getDirector()}"></td>
        <td class="col-sm" th:text="${movie.getPremiere()}"></td>
        <td class="col-sm">
            <button type="button" class="btn btn-info" th:data-id="${movie.getId()}" data-toggle="modal"
                    data-target=".bd-example-modal-lg" onclick="viewMode(this.getAttribute('data-id'))">Podgląd
            </button>
            <button th:if="${movie.isDeleted()==false}" type="button" class="btn btn-primary"
                    th:data-id="${movie.getId()}"
                    th:data-uuid="${movie.getUuid()}" data-toggle="modal" data-target=".bd-example-modal-lg"
                    onclick="editmode(this.getAttribute('data-id'),this.getAttribute('data-uuid'))">Edycja
            </button>
            <button th:if="${movie.isDeleted()==false}" type="button" class="btn btn-danger"
                    th:data-id="${movie.getId()}"
                    th:data-name="${movie.getTitle()}" data-toggle="modal" data-target="#exampleModal"
                    onclick="removeMovie(this.getAttribute('data-id'),this.getAttribute('data-name'))">Usuń
            </button>
        </td>
    </tr>
    </tbody>
</table>
<div th:insert="~{shared/movie-form :: movie-form(movieForm='${movieForm}')}"></div>
<div th:insert="~{shared/movie-delete-confirmation :: movie-delete-confirmation}"></div>
</body>
</html>