<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div th:fragment="navbar">
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark text-center p-4 row">
                <a href="#" class="col-sm">Kup bilet</a>
                <a th:href="@{/workerzone/movies}" class="col-sm">Ewidencja filmów</a>
                <a href="#" class="col-sm">Ewidencja premier</a>
                <a href="#" class="col-sm">Ewidencja sal</a>
                <a href="#" class="col-sm">Użytkownicy</a>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
</div>
</body>
</html>